.cbp-af-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #81B841;
	z-index: 10000;
	height: 230px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	box-shadow: 0px 28px 15px -30px rgba(0, 0, 0, .60);
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 80em;
	margin: 0 auto;
	padding: 0 1.875em;
	
	
}


.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 230px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #F6F6F6;
	letter-spacing: 4px;
	font-size: 46px;
	margin: 0;
	float: left;
}
.cbp-af-header h1 img {
	position: relative;
	top: -5px;
}
.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	text-decoration: none;
	color: #F6F6F6;
	font-weight: 500;
	margin: 0 0 0 20px;
	font-size: 20px;
}

.cbp-af-header nav a:hover {
	text-decoration: none;
	color: #C7F8B7;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header img,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header-shrink {
	box-shadow: 0px 28px 15px -30px rgba(0, 0, 0, .60);
	
}
.cbp-af-header.cbp-af-header-shrink {
	
	height: 60px;
}

.cbp-af-header.cbp-af-header-shrink h1 img,
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 60px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 30px;
	
}
.cbp-af-header.cbp-af-header-shrink nav a {
	font-size: 16px;
}

.cbp-af-header.cbp-af-header-shrink img {
	position: relative;
	top: -1px;
	width: 33px;

}

/* Example Media Queries */
@media screen and (max-width: 80em) {
	#home {
		margin-top: -55px;
	}
	.cbp-af-header {
		height: 160px;
	}
	.cbp-af-header .cbp-af-inner {
		width: 100%;
		max-width: 80em;
		margin: 0 auto;
		padding: 0;
	}
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header img {
		width: 32px;
		padding-top: 3px;
	}
	.cbp-af-header h1{
		font-size: 	36px;
		padding-top: 13px;
	}
	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 70px;
	}

	.cbp-af-header nav a {
		margin: 0 5px;
	}

	.cbp-af-header.cbp-af-header-shrink img {
		width: 24px;
		padding-top: 3px;
		position: relative;
		right: -5px;

	}
	.cbp-af-header.cbp-af-header-shrink img,
	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 30px;
		padding-top: 0px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 22px;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 16px;
	}
}

@media screen and (max-width: 32.25em) {
	#home {
		margin-top: -120px;
	}
	.cbp-af-header {
		height: 110px;
	}
	.cbp-af-header img {
		width: 50px;
	}
	.cbp-af-header h1 {
		margin-top: -5px;
	}
	.cbp-af-header h1,
	.cbp-af-header h1 img,
	.cbp-af-header nav a {
		line-height: 50px;
	}
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 11px;
	}
	.cbp-af-header.cbp-af-header-shrink h1 {
		margin-top: 0px;
	}
	.cbp-af-header.cbp-af-header-shrink img {
		position: relative;
		top: -3px;
		right: -5px;
	}
	.cbp-af-header img {
		position: relative;
		top: 20px;
		right: -3px;
	}
}

@media screen and (max-width: 24em) {
	#home {
		margin-top: -120px;
	}
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
	.cbp-af-header img {
		width: 50px;
	}
	.cbp-af-header h1 {
		margin-top: -5px;
	}
	.cbp-af-header.cbp-af-header-shrink h1 {
		margin-top: 0px;
	}	

}
