html, body {
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    background: #424242;
    color: #eeeee0;
    font-size: 13px;
    overflow-x: hidden;
}
ul {
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    
}


/* Menu 
================================================*/
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: url('../image/menu-theme.png') #81b341 center center no-repeat; 
    display: flex;
    z-index: 1000;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 20px 35px -25px rgba(0, 0, 0, 0.7);
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .logo-img {
    width: 60px;
    height: 60px;;
    margin: 10px 10px 10px 25px;
  }
  .menu h1 {
  text-transform: uppercase;
  color: #eeeee0;
  letter-spacing: 4px;
  font-size: 46px;
  margin: 0;
  }
  .menu span {
    text-transform: uppercase;
    color: #eeeee0;
    letter-spacing: 2px;
  font-size: 14px;
  margin: 0;
  }
  .menu .nav {
    position: absolute;
    right: 15px;
  }
  
  .menu .nav a {
  text-decoration: none;
  color: #eeeee0;
  font-weight: 500;
  margin: 0 10px 0 10px;
    font-size: 20px;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  }
  
  .menu .nav a:hover {
    text-decoration: none;
    text-shadow: 0 0 5px #2b312340;
    color: rgb(237, 255, 227);
  
  }
  .menu .nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
  }
  .menuBtn {
    display: none;
  }
  
  @media screen and (max-width: 768px) {

    .logo-img {
        margin: 10px;
        width: 50px;
        height: 50px;
    }
    .menu h1 {
        letter-spacing: 3px;
        font-size: 32px;
    }
    .menu span {
        text-transform: uppercase;
        color: #eeeee0;
        letter-spacing: 2px;
        font-size: 13px;
        margin: 0;
    }
    .menuBtn {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 30px;
        top: 13px;
        display: block;
        z-index: 1003;
      }
      .menuBtn > span {
        background-color: #eeeee0;
        border-radius: 1px;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -1px 0 0 -15px;
        -webkit-transition: height 100ms;
        transition: height 100ms;
      }
      .menuBtn > span:after,
      .menuBtn > span:before {
        content: '';
        background-color: #eeeee0;
        border-radius: 1px;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        -webkit-transition: all 200ms;
        transition: all 200ms;
      }
      .menuBtn > span:after {
        top: -7px;
      }
      .menuBtn > span:before {
        bottom: -7px;
      }
      .menuBtn.act > span {
        height: 0;
      }
      .menuBtn.act > span:after,
      .menuBtn.act > span:before {
        background-color: #81b341;
        top: 1px;
      }
      .menuBtn.act > span:after {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      .menuBtn.act > span:before {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      /* main menu block */
      .menu .nav {
        background-color: #eeeee0;
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100vh;
        width: 100%;
        z-index: 1002;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transform: scale(0);
                transform: scale(0);
      }
      .menu .nav.act {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      .menu .nav.act ul li {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      .menu .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .menu .nav li {
        padding: 8px 0;
        -webkit-transition: all 400ms 510ms;
        transition: all 400ms 510ms;
        opacity: 0;
      }
      .menu .nav li:nth-child(odd) {
        -webkit-transform: translateX(30%);
                transform: translateX(30%);
      }
      .menu .nav li:nth-child(even) {
        -webkit-transform: translateX(-30%);
                transform: translateX(-30%);
      }
      .menu .nav li:last-child {
        -webkit-transform: none;
                transform: none;
      }
      .menu .nav a {
        color: #81b341;
        display: block;
        font-size: 18px;
      }
  
  }
  @media screen and (max-width: 960px) {
    .logo-img {
        margin: 10px;
        width: 55px;
        height: 55px;
    }
    .menu h1 {
        letter-spacing: 3px;
        font-size: 39px;
    }
    .menu span {
        text-transform: uppercase;
        color: #eeeee0;
        letter-spacing: 2px;
        font-size: 13px;
        margin: 0;
    }
    .menu .nav a {
        margin: 0 7px 0 7px;
          font-size: 17px;
    }
}
@media screen and (max-width: 400px) {
    .menuBtn {
        right: 3.6em;
        top: 45px;
      }
}

/* 
.cbp-af-header {
	position: fixed;
	top: 0;
	width: 100%;
    background: url('../image/menu-theme.png') #227b0b center center no-repeat; 
	z-index: 10000;
	height: 230px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	box-shadow: 0px -4px 152px -30px rgba(0, 0, 0, 1);
	
}
.cbp-af-header .cbp-af-inner {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	padding: 0 1.875em;	
}
.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 230px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #F6F6F6;
	letter-spacing: 4px;
	font-size: 46px;
	margin: 0;
	float: left;
}
.cbp-af-header h1 img {
	position: relative;
	top: -5px;
}
.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	text-decoration: none;
	color: #F6F6F6;
	font-weight: 500;
	margin: 0 0 0 20px;
	font-size: 20px;
}

.cbp-af-header nav a:hover {
	text-decoration: none;
	color: rgb(219, 219, 219);
}

.cbp-af-header h1,
.cbp-af-header img,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	box-shadow: 0px -4px 40px -6px rgba(0, 0, 0, .8);
	height: 60px;
}

.cbp-af-header.cbp-af-header-shrink h1 img,
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 60px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 30px;
	
}
.cbp-af-header.cbp-af-header-shrink nav a {
	font-size: 16px;
}

.cbp-af-header.cbp-af-header-shrink img {
	position: relative;
	top: -3px;
	width: 33px;

}

@media screen and (max-width: 80em) {
	#home {
		margin-top: -55px;
	}
	.cbp-af-header {
		height: 160px;
	}
	.cbp-af-header .cbp-af-inner {
		width: 100%;
		max-width: 80em;
		margin: 0 auto;
		padding: 0;
	}
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header img {
		width: 32px;
		padding-top: 3px;
	}
	.cbp-af-header h1{
		font-size: 	36px;
		padding-top: 13px;
	}
	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 70px;
	}

	.cbp-af-header nav a {
		margin: 0 5px;
	}

	.cbp-af-header.cbp-af-header-shrink img {
		width: 24px;
		padding-top: 3px;
		position: relative;
		right: -5px;

	}
	.cbp-af-header.cbp-af-header-shrink img,
	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 30px;
		padding-top: 0px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 22px;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	#home {
		position: relative;
		top: 100px;
		margin: 0 auto;
	}
	.cbp-af-header {
		height: 110px;
	}
	.cbp-af-header img {
		width: 50px;
	}
	.cbp-af-header h1 {
		margin-top: -5px;
	}
	.cbp-af-header h1,
	.cbp-af-header h1 img,
	.cbp-af-header nav a {
		line-height: 50px;
	}
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 11px;
	}
	.cbp-af-header.cbp-af-header-shrink h1 {
		margin-top: 0px;
	}
	.cbp-af-header.cbp-af-header-shrink img {
		position: relative;
		top: -3px;
		right: -5px;
	}
	.cbp-af-header img {
		position: relative;
		top: 20px;
		right: -3px;
	}
}

@media screen and (max-width: 400px) {
	
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
	.cbp-af-header img {
		width: 50px;
	}
	.cbp-af-header h1 {
		margin-top: -5px;
	}
	.cbp-af-header.cbp-af-header-shrink h1 {
		margin-top: 0px;
	}	

} */

/* Labyrinth description
==================================================*/

.lab-view {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 120px auto 20px;
    background: #343434;
    padding: 40px 40px;
    box-shadow: 0px 20px 35px -25px rgba(0, 0, 0, 1);
}
.lab-view-item {
    width: 190px;
    margin: 15px;
}
.lab-view img {
    display: block;
    margin: 15px auto;
}
.lab-view-text {
    line-height: 2;     
    
}
.lab-view-title{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;

}
@media screen and (max-width: 960px) {
    .lab-view {
        justify-content: center;
        padding: 10px 15px 15px;
    }
    .lab-view-item {
        margin: 0 5px;
    }

}
@media screen and (max-width: 767px) {
    .lab-view-item:not(:last-child):after {
        content: "";
        width: 100%;
        display: block;
        border-bottom: 1px solid #eeeee040;
        margin: 25px auto 10px;
    }
    .lab-view {
        margin: 100px auto 20px;
    }
}
/* Quest 
=====================================================*/
button, 
button:active, 
button:focus {
    outline: none;
    cursor: pointer;
}
#quests {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #424242;
}
.box{
 margin: 20px 5px;
 position: relative;
 perspective: 1000px;
 max-width: 400px;
 min-width: 300px;
}
.box .box-img{
 transform: rotateY(0);
 transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-img{
 transform: rotateY(-90deg);
}
.box .box-img img{
 max-width: 100%;
 height: auto;
}
.box .box-content{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 padding: 60px 20px;
 text-align: center;
 background: rgba(0,0,0,0.7);
 transform: rotateY(90deg);
 transition: all 0.50s ease-in-out 0s;
}
.box-inline {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.box-img-flag {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
}
.box-overlay {
    padding: 20px 30px;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.70);
    position: absolute !important;
        bottom: 0;
        left: 0;
        right: 0;
}
.box-content-title{
 font-size: 20px;
 color: #fff;
 text-transform: uppercase;
}
.box-overlay-title {
    text-transform: uppercase;
    color: #81b841;
    letter-spacing: 1px;
    line-height: 0.7;
    padding: 15px 0 5px;
    margin: 0;
    white-space: nowrap;
}
.box-overlay p {
    font-size: 14px;
    color: #eeeee0;
    margin: 10px 0 10px;
    
}
.box:hover .box-content{
 transform: rotateY(0);
}
.box .description-afterline{
 font-size: 14px;
 line-height: 24px;
 overflow-y: auto;
 height: 50%;
 color: #fff;
}
.box-content-title:after,
.description-afterline:after{
 content: "";
 width: 80%;
 display: block;
 border-bottom: 1px solid #fff;
 margin: 15px auto;
}
.box .social-links{
 margin: 0;
 padding: 0;
 list-style: none;
 position: absolute;
 bottom: 18px;
 left: 18px;
}
.box .social-links li{
 display: inline-block;
 margin: 0 10px;
}
.box .social-links li a{
 font-size: 20px;
 color: #a6a6a6;
}
.box .social-links li a:hover{
 text-decoration: none;
 color: #fff;
}
.box-content-button {
    background: #81B841;
    border: 0;
    text-transform: uppercase;
    color: #eeeee0;
    padding: 10px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.box-content-button:hover {
    background: rgb(119, 172, 55)
}
.box .img-hand {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
}
.uk-animation-scale-up {
    -webkit-animation-name: uk-fade-scale-02;
    animation-name: uk-fade-scale-02;
}
.uk-transition-scale-up {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.uk-transition-toggle:hover .uk-transition-scale-up,
.uk-transition-toggle.uk-hover .uk-transition-scale-up {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
[class*='uk-animation-'] {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

  @-webkit-keyframes uk-fade-scale-02 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.2);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
    }
  }
  @keyframes uk-fade-scale-02 {
    0% {
      opacity: 0;
      transform: scale(0.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
@media only screen and (max-width: 990px) {
    .box{ margin-bottom:20px; }
    .box .box-content{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 20px;
    }
    .box .description{
        min-height: auto;
        max-height: 170px;
        overflow-y: auto;
    }

}
@media only screen and (max-width: 479px) {
    .box .box-content{ padding: 15px; }
    .box .description{
        font-size: 12px;
        line-height: 18px;
        color: #fff;
    }
}
@media screen and (max-width: 768px) {
    .box .img-hand {
        opacity: 1;
    }
}


/* Gallery 
=====================================================*/

.uk-lightbox {
    /* 1 */
    display: none;
    /* 2 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background: #424242;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.uk-lightbox.uk-open {
    display: block;
    opacity: 1;
}
.uk-lightbox-page {
    overflow: hidden;
}
.uk-lightbox-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}
.uk-lightbox-item img {
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6)
}
.uk-lightbox-item > * {
    max-width: 100vw;
    max-height: 100vh;
}
.uk-lightbox-item > :not(iframe) {
    width: auto;
    height: auto;
}
.uk-lightbox-item.uk-active {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.uk-lightbox-toolbar {
    width: 100%;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.3);
}
.uk-lightbox-toolbar-icon {
    padding: 5px;
}
.uk-lightbox-button {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.uk-lightbox-button:hover {
    color: #c4c4c2;
}
.uk-lightbox-iframe {
    width: 80%;
    height: 80%;
}
.uk-slidenav {
    padding: 5px;
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
  /* Hover + Focus */
.uk-slidenav:hover,
.uk-slidenav:focus {
    outline: none;
}
.uk-slidenav-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.uk-position-center-left,
.uk-position-center-right {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[class*='uk-position-top'],
[class*='uk-position-bottom'],
[class*='uk-position-left'],
[class*='uk-position-right'],
[class*='uk-position-center'] {
    position: absolute !important;
}
.uk-position-top {
    top: 0;
    left: 0;
    right: 0;
}
.uk-position-center-left {
    left: 10px;
}
.uk-position-center-right {
    right: 10px;
}
.uk-position-small.uk-position-center-left,
.uk-position-small.uk-position-center-right {
    -webkit-transform: translateY(-50%) translateY(-15px);
    transform: translateY(-50%) translateY(-15px);
}
.uk-icon {
    border: none;
    /* 3 */
    overflow: visible;
    /* 4 */
    font: #81B841;
    color: #81B841;
    /* 5 */
    text-transform: none;
    /* 6. */
    background: transparent;
    padding: 5px 10px;
    /* 7 */
    display: inline-block;
    /* 8 */
    fill: currentcolor;
    /* 9 */
    line-height: 0;
    font-weight: 500;
}
.uk-icon [fill*='#']:not(.uk-preserve),
.uk-icon [FILL*='#']:not(.uk-preserve) {
    fill: currentcolor;
}
.uk-icon [stroke*='#']:not(.uk-preserve),
.uk-icon [STROKE*='#']:not(.uk-preserve) {
    stroke: currentcolor;
}

/* Reviews 
==============================================================*/
.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
}
#review img {
    margin: 0 auto;
    position: relative;
    top: -130px;
}
#review {
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.review-content {
    width: 400px;
    margin: 135px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.review-content blockquote {
    position: absolute;
    opacity: 0.9;
    width: 400px;
    height: 160px;
    padding: 20px 10px 20px 70px;
    margin-right: 15px;
    background: #343434;
    color: #eeeee0;
    box-shadow: 0px 5px 10px -8px rgba(0, 0, 0, 1);
}
.review-content blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    top: 20px;
    left: 13px;
    color: #eeeee0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #81B841;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;    
}
.review-content blockquote::after {
    content: "";
    width: 4px;
    background: #81B841;
    position: absolute;
    left: 50px;
    top: 20px;
    bottom: 20px;
}
#review footer {
    padding-top: 10px;
}
#review cite {
    font-style: normal;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Footer 
==========================================================*/
.footer {
    text-align: center;
    background: #81B841;
    margin: 0px;
    padding: 0px 50px;
    min-width: 100vw;
    max-width: 100%;
    min-height: 90px;
    max-height: 100%;
    box-shadow: 0 0 17px -6px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-around;
}
.footer .footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.footer .footer-content-contact,
.footer .social-links {
    display: flex;
    flex-direction: row;
}
.footer .social-links {
    list-style-type: none;
    justify-content: center;
    -webkit-padding-start: 15px;
    -webkit-padding-end: 15px;
    margin-right: 30px;
}
.footer .social-links li {
    margin: 0 10px;
}
.footer .footer-content-contact .address {
    font-weight: 500;
    display: flex;
    flex-direction: column;   
    align-items: flex-start;    
}
.footer .footer-content-contact .phone {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.footer .footer-content-contact div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer .contact {
    margin: auto;
}
.footer a {
    color: #eeeee0;
}
.footer a:hover {
    text-decoration: none
}
.footer-content-franchise {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(255, 255, 255, .7);
    
}
.footer .footer-content-left img {
    margin: 10px;
    height: 70px;

}
.footer .footer-content-right div:first-child {
    font-weight: 700; 
}
/* Franchise modal 
================================================================*/
.uk-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px 15px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
@media (min-width: 640px) {
    .uk-modal {
      padding: 50px 30px;
    }
}
@media (min-width: 960px) {
    .uk-modal {
      padding-left: 40px;
      padding-right: 40px;
    }
}
.uk-modal.uk-open {
    opacity: 1;
}
.uk-modal-page {
    overflow: hidden;
}
.uk-modal-dialog {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    background: #424242;
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
}
.uk-open > .uk-modal-dialog {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.uk-modal-container .uk-modal-dialog {
    width: 1200px;
}
.uk-modal-full {
    padding: 0;
    background: none;
}
.uk-modal-full .uk-modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.uk-modal-body {
    padding: 30px 30px;
    overflow-y: auto;
}
.uk-modal-header {
    padding: 15px 30px;
    background: #424242;
    color: #81B841;
    border-bottom: 1px solid #81B841;
}
.uk-modal-footer {
    padding: 15px 30px;
    background: #424242;
    border-top: 1px solid #81b841;
}
.uk-modal-body::before,
.uk-modal-body::after,
.uk-modal-header::before,
.uk-modal-header::after,
.uk-modal-footer::before,
.uk-modal-footer::after {
    content: "";
    display: table;
}
.uk-modal-body::after,
.uk-modal-header::after,
.uk-modal-footer::after {
    clear: both;
}
.uk-modal-body > :last-child,
.uk-modal-header > :last-child,
.uk-modal-footer > :last-child {
    margin-bottom: 0;
}
.uk-modal-body .h4 {
    color: rgb(164, 211, 107);
}
.uk-modal-body ul {
    list-style: url("../image/labyrinth-list.png");
}
.uk-modal-body li {
    margin: 5px 0;
}
.uk-modal-body p:last-child {
    color: rgb(164, 211, 107);
    font-weight: 500;
}
.uk-modal-title {
    font-size: 2rem;
    line-height: 1.3;
}
[class*='uk-modal-close-'] {
    position: absolute;
    z-index: 1010;
    top: 10px;
    right: 10px;
    padding: 5px;
}
[class*='uk-modal-close-']:first-child + * {
    margin-top: 0;
}
.uk-modal-close {
    top: 0;
    right: 0;
    color: #eeeee0;
    background: #81B841;
    padding: 5px 40px;
    border: 0;
}
.uk-modal-close:hover {
    background: rgb(119, 172, 55)
}
.uk-close {
    color: #81B841;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, opacity;
    transition-property: color, opacity;
}
/* Hover + Focus */
.uk-close:hover,
.uk-close:focus {
    color: #ddddcd;
    outline: none;
}
.uk-text-right {
    text-align: right !important;
}



/* Booking modal 
=============================================================*/
.modal-booking .uk-modal-dialog {
    width: 600px;
    padding: 30px 30px 10px;
    text-align: center;
}
.modal-booking form{
    display: block;
}
.modal-booking-title {
    font-size: 40px;
    color: #81b841;
    padding: 5px 0px 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.modal-booking-title:after,
.modal-booking label:last-child:after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1px solid #81b341;
    margin: 25px auto 10px;
}
.modal-booking .box-content-button {
    width: 230px;
    position: relative;
    right: 0;
    margin: 15px 0 0;
    font-weight: 600;
}
.modal-booking form label {
    position: relative;
    display: block;
}
.modal-booking form label input {
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    width: 100%;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.modal-booking form label input::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #999;
}
.modal-booking form label input::-moz-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #999;
}
.modal-booking form label input:-ms-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #999;
}
.modal-booking form label input::placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #999;
}
.modal-booking form label input:focus, form label input.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}
.modal-booking form label input:focus::-webkit-input-placeholder, form label input.populated::-webkit-input-placeholder {
    color: transparent;
}
.modal-booking form label input:focus::-moz-placeholder, form label input.populated::-moz-placeholder {
    color: transparent;
}
.modal-booking form label input:focus:-ms-input-placeholder, form label input.populated:-ms-input-placeholder {
    color: transparent;
}
.modal-booking form label input:focus::placeholder, form label input.populated::placeholder {
    color: transparent;
}
.modal-booking form label input:focus + span, form label input.populated + span {
    opacity: 1;
    top: 10px;
}

.modal-booking form label span {
    color: #81b841;
    font-size: 13px;
    position: absolute;
    top: 0px;
    left: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.modal-booking form input[type="submit"] {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 500px) {
    .box {
        margin-top: 20px;
    }
    #review {
       margin: 70px 10px 0;
    }
    .review-content {
       width: 270px;
    }
    .review-content blockquote {
        width: 270px;
        height: auto;
    }
    #rev1 {
        margin-top: 90px;
    }
    #rev2 {
        margin-top: 100px;        
    }
    #rev3 {
        margin-top: 120px;
    }
    #rev4 {
        margin-top: 120px;
    }
    #rev5 {
        margin-top:200px;
    }
    #rev6 {
        margin-top: 200px;
        margin-bottom: 20px;
    }
    .footer {
        position: relative;
        bottom: -60px;
        line-height: 15px;        
        padding: 10px 0px 0px;
        align-items: center;
        flex-direction: column;
    }
    .footer .footer-content-contact {
        white-space: nowrap;
        position: relative;
    }
    .footer-content-contact .address div, 
    .footer-content-contact .phone {
        align-self: center;
    }
    .footer .footer-content-left img {
        margin: 20px;
    }
    .footer .footer-content-right {
        white-space: nowrap;
        margin: 0 0 5px;   
    }
    .footer .footer-content-contact .address {
        margin: 0;
    }
    .footer .footer-content-right div:first-child {
        font-size: 1.1em;  
        letter-spacing: 1px;  
        margin-bottom: 4px;
    }
    .footer .social-links {
        margin: 20px 0;
        font-size: 20px;
    }
}

@media screen and (min-width: 1370px) {
    section, .slider {
        width: 70%;
        margin: 0 auto;
    }

    .cbp-af-header .cbp-af-inner {
        width: 100%;
        max-width: 100em;
    }
    .footer .footer-inner {
        width: 99%;
        justify-content: space-between;
    }
    .footer .footer-content-left img {
        margin: 10px 70px 10px 10px;    
    }
    .box .description{
        display: flex;
        align-items: space-around;
        height: 220px;
    }
    .box .box-content{
        padding: 40px 20px;
    }
    .box .seven{
        height: 120px;
    }
}

@media screen and (width: 1024px) {
    .lab-view-item {
        width: 170px;
        margin: 0;
    }
    .box{
        max-width: 320px;
       }
    .box-overlay h2 {
        font-size: 1.5rem;
    }   
    .modal-booking .uk-modal-dialog {
        width: 100%;
    }        
}
@media screen and (max-width: 320px) {
    h2 {
        font-size: 1.6rem;
    }
    .box-overlay p {
        font-size: 0.8rem;
    }

    .menu h1 {
        letter-spacing: 2px;
        font-size: 30px;
    }
    .logo-img {
        margin: 10px;
        width: 45px;
        height: 45px;
    }
    .menu span {
        letter-spacing: 2px;
        font-size: 12px;
    }
    .menuBtn {
        right: 25px;
        top: 13px;
      }
    .box .description{
        max-height: 140px;
    }
}