html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: sans-serif;
    margin: 0px auto;
    background: #424242;
    color: #eeeee0;
    font-size: 13px;
    overflow-x: hidden;
}

#home, #quests, #rg-gallery, #review {
    position: relative;
    top: 230px;
    margin: 0;
}

.lab-view {
    text-align: center;
}
.lab-view img {
    display: block;
    margin: 15px auto;
}
.lab-view-text {
    line-height: 2;     
    
}
.lab-view-title{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;

}
/**
.lab-quests {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 75px -15px;
    font-size: 17px;
    line-height: 1.7;
    font-weight: 300;
  }
.col-quests {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 15px;
    padding-left: 15px;
}
  .img-card {
    max-width: 100%;
    display: grid;
    max-height: 30rem;
}
.img-quests {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 10px 8px -9px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 8px -9px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 8px -9px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.5); 
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}
.img-quests:hover{
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(0, 0, 0, 0.5);
} 
**/

#rg-gallery {	
	overflow: hidden;
    position: reletive;
	left: -15px;
    width: 99vw;
    height: 210px;
    border: 2px solid #81B841;
    background-color: #424242;

}

#rg-gallery .gallery {
    position: relative;
    width: 90%;
    top: 3px;
    left: -54px;
    overflow: hidden;

}

.gallery ul {
    width: 9999px;
    list-style: none; 
    transition: margin-left 260ms;
    font-size: 0;
    
}
.gallery li {
    left: -40px;
    display: inline-block;
    
}
.gallery img {
    height: 200px;
    width: auto;
    display: block;
    margin: 0px 2px;
}
.arrow-block {
    width: 40px;
    height: 100%;
    background: #81B841;

}
.ab-prev {
    position: relative;
    left: -55px;
}
.ab-next {
    position: relative;
    right: 0px;
}
.arrow {
    padding: 0;
    width: 40px;
    color: #eeeee0;
    display: block;
}

  .svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}
.rg-gallery a.prev {
    margin-left: 11px;
}

.rg-gallery a.next {
    margin-left: -15px;
}

.rg-gallery a svg {
	display: block;
	margin: 0 auto;
	padding: 0;
}


.rg-gallery a {
	width: 40px;
    height: 40px;
    margin: auto;
}

.rg-gallery div a::before {

	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.rg-gallery .icon-wrap {
	position: relative;
	display: block;
	margin: 210% 0 0;
	width: 100%;
	height: 100%;
}

.rg-gallery a.next .icon-wrap {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rg-gallery .icon-wrap::before,
.rg-gallery .icon-wrap::after {
	position: absolute;
	width: 3px;
	height: 50%;
	background: #eeeee0;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.rg-gallery .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(30deg);
	transform: translateX(-50%) rotate(30deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.rg-gallery .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-30deg);
	transform: translateX(-50%) rotate(-30deg);
	-webkit-transform-origin: 0 0;
    transform-origin: 0 0;


}

.rg-gallery a:hover::before {
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);

}

.rg-gallery a:hover .icon-wrap::before,
.rg-gallery a:hover .icon-wrap::after {

}

.rg-gallery a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.rg-gallery a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}