html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: sans-serif;
    margin: 0px auto;
    background: #424242;
    color: #eeeee0;
    font-size: 13px;
    overflow-x: hidden;
}

#home, #quests, .slider, #review {
    position: relative;
    top: 230px;
    margin: 0;
}

.lab-view {
    text-align: center;
}
.lab-view img {
    display: block;
    margin: 15px auto;
}
.lab-view-text {
    line-height: 2;     
    
}
.lab-view-title{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;

}
/* Quest */
button, 
button:active, 
button:focus {
    outline: none;
    cursor: pointer;
}
.box{
 margin: 50px 0;
 position: relative;
 perspective: 1000px;
}
.box .box-img{
 transform: rotateY(0);
 transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-img{
 transform: rotateY(-90deg);
}
.box .box-img img{
 width: 100%;
 height: auto;
}
.box .box-content{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 padding: 60px 20px;
 text-align: center;
 background: rgba(0,0,0,0.7);
 transform: rotateY(90deg);
 transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-content{
 transform: rotateY(0);
}
.box .title{
 font-size: 20px;
 color: #fff;
 text-transform: uppercase;
}
.box .description{
 font-size: 14px;
 line-height: 24px;
 overflow-y: auto;
 height: 50%;
 color: #fff;
}
.box .title:after,
.box .description:after{
 content: "";
 width: 80%;
 display: block;
 border-bottom: 1px solid #fff;
 margin: 15px auto;
}
.box .social-links{
 margin: 0;
 padding: 0;
 list-style: none;
 position: absolute;
 bottom: 18px;
 left: 18px;
}
.box .social-links li{
 display: inline-block;
 margin: 0 10px;
}
.box .social-links li a{
 font-size: 20px;
 color: #a6a6a6;
}
.box .social-links li a:hover{
 text-decoration: none;
 color: #fff;
}
.box button {
    background: #81B841;
    border: 0;
    text-transform: uppercase;
    color: #eeeee0;
    padding: 10px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
@media only screen and (max-width: 990px) {
 .box{ margin-bottom:20px; }
 .box .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 15px;
   }
 .box .description{
    font-size: 11px;
    line-height: 14px;
    overflow-y: auto;
    height: 150px;
   }
   .box .title{
    font-size: 15px;

   }
   .box button {
    background: #81B841;
    border: 0;
    text-transform: uppercase;
    color: #eeeee0;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
    bottom: 7px;
    margin: 0 auto;
    outline: none;
}
}
@media only screen and (max-width: 479px) {
 .box .box-content{ padding: 15px; }
 .box .description{
    font-size: 12px;
    line-height: 18px;
    color: #fff;
   }
}
/* Reviews */
.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    
}

#review img {
    margin: 0 auto;
    position: relative;
    top: -130px;
    
}
#review {
    margin: 100px auto 0;
}
.review-content {
    margin-top: 100px;
}

#review blockquote {
    position: absolute;
    top: 0px;
    padding: 20px 10px 20px 70px;
    margin-right: 15px;
    background: #343434;
    color: #eeeee0;
    box-shadow: 0px 5px 10px -8px rgba(0, 0, 0, 1);
}
#review blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    top: 20px;
    left: 13px;
    color: #eeeee0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #81B841;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;    
}
#review blockquote::after {
    content: "";
    width: 4px;
    background: #81B841;
    position: absolute;
    left: 50px;
    top: 20px;
    bottom: 20px;
}
#review footer {
    padding-top: 10px;
}
#review cite {
    font-style: normal;
    font-size: 0.8em;
    text-transform: uppercase;
}

@media screen and (max-width: 950px) {
    #home, #quests {
		position: relative;
		top: 160px;
		margin: 0;
    }
    .top-review .review-content {
        margin-bottom: 70px;
    }

}

@media screen and (max-width: 500px) {
    #home, #quests {
		position: relative;
		top: 100px;
		margin: 0;
    }
    .box {
        margin-top: 20px;
    }
    .slider, #review {
        position: relative;
        top: 120px;
    }
    .top-review .review-content {
        margin-bottom: 50px;
    }
    .bot-review .review-content {
        margin-bottom: 120px;
    }
}
