@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #E4E1E1 url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 2rem;
	height: 2rem;
     padding: 0;
    width: 2rem;
	height: 2rem;
	background: transparent;
	border-top: .4rem solid #eeeee0;
    border-right: .4rem solid #eeeee0;
    border-left: none;
    border-bottom: none;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}
.slick-prev {
    left: 0;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

.slick-next {
    right: 0;
    transform: translate3d(0,-50%,0) rotate(45deg);
}
.slick-prev:hover, 
.slick-next:hover {
    border-top: .4rem solid #eeeee0;
    border-right: .4rem solid #eeeee0;
    box-shadow: .2rem -.2rem 0 #81B841;
}

.slick-prev
{
    left: 40px;
}
[dir='rtl'] .slick-prev
{
    right: 40px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 40px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 40px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

@media screen and (max-width: 80em) {
    .slick-prev
    {
        left: 15px;
    }
    .slick-next
    {
        right: 15px;
    }
    .slick-prev,
    .slick-next
    {
        width: 1.5rem;
        height: 1.5rem;
    }
    
}
@media screen and (max-width: 32.25em) {
    .slick-prev
    {
        left: 10px;
    }
    .slick-next
    {
        right: 10px;
    }
    .slick-prev,
    .slick-next
    {
        width: 1rem;
        height: 1rem;
    }
}